@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");
section {
  padding: 4em 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0eefc;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

i {
  color: #68f868;
}

i:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.hero {
  background-color: #2967c5;
  color: #ebebeb;
  min-height: 560px;
}

.hero .contentContainer {
  max-width: 70rem;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.hero .textBox {
  max-width: 40rem;
  margin: 0 1rem;
}

.hero .textBox span {
  color: #97e3fa;
}

.hero .textBox h1 {
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  line-height: 1.1;
}

.hero .textBox button {
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: 3px solid #292929;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects h2 {
  font-size: 4rem;
  font-weight: 200;
}

.projects .card {
  max-width: 70rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 2rem 1rem;
  -webkit-box-shadow: 2px 2px 4px 0px #292929;
          box-shadow: 2px 2px 4px 0px #292929;
}

.projects .card .leftDiv {
  padding: 2rem;
}

.projects .card .leftDiv .overlayContainer {
  position: relative;
  background-color: #97e3fa;
  overflow: hidden;
}

.projects .card .leftDiv .overlayContainer::after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-45deg);
          transform: scale(2) translateX(-75%) translateY(-75%) rotate(-45deg);
  -webkit-transition: -webkit-transform 750ms linear;
  transition: -webkit-transform 750ms linear;
  transition: transform 750ms linear;
  transition: transform 750ms linear, -webkit-transform 750ms linear;
}

.projects .card .leftDiv .overlayContainer:hover:after {
  -webkit-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
          transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.projects .card .leftDiv .overlayContainer:hover .overlayText {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects .card .leftDiv .overlayContainer .imageBox {
  height: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: block;
  -webkit-transition: -webkit-transform 750ms linear;
  transition: -webkit-transform 750ms linear;
  transition: transform 750ms linear;
  transition: transform 750ms linear, -webkit-transform 750ms linear;
}

.projects .card .leftDiv .overlayContainer .overlayText {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #1a1a1a;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: opacity 500ms linear, -webkit-transform 500ms linear;
  transition: opacity 500ms linear, -webkit-transform 500ms linear;
  transition: opacity 500ms linear, transform 500ms linear;
  transition: opacity 500ms linear, transform 500ms linear, -webkit-transform 500ms linear;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.projects .card .leftDiv .overlayContainer .overlayTextBox {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 2rem;
}

.projects .card .leftDiv .overlayContainer .overlayTextBox p {
  font-weight: 600;
  font-size: 3rem;
}

.projects .card .rightDiv h3 {
  font-size: clamp(1.5rem, 2.5vw, 2.2rem);
}

.projects .card .rightDiv h3 a {
  font-size: clamp(0.6rem, 2.5vw, 1rem);
}

.projects .card .rightDiv ul {
  list-style: none;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: #20519b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .card .rightDiv ul li {
  margin: 0 1rem;
}

.aboutMe {
  background-color: #292929;
  color: #ebebeb;
}

.aboutMe .container {
  max-width: 70rem;
  margin: 0 auto;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.aboutMe .container .leftDiv {
  padding: 0 3rem;
}

.aboutMe .container .rightDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutMe .container .rightDiv img {
  max-width: 20rem;
}

.treehouse .container {
  max-width: 70rem;
  margin: 0 auto;
}

.treehouse .container .certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.treehouse .container .certificate img {
  width: 35%;
}

.treehouse .container .certificate p {
  padding: 1rem;
  text-align: center;
}

.treehouse .container .treehouse-projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.treehouse .container .treehouse-projects .card {
  -webkit-box-shadow: 1px 1px 2px 0px #292929;
          box-shadow: 1px 1px 2px 0px #292929;
  margin: 0.5rem;
}

.treehouse .container .treehouse-projects .card ul {
  list-style: none;
  letter-spacing: 0.2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.treehouse .container .treehouse-projects .card ul li {
  margin: 0 1rem;
}

.contactMe {
  background-color: #292929;
  color: #ebebeb;
}

.contactMe .container {
  max-width: 40rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactMe .container h2 {
  font-size: clamp(1.5rem, 2.5vw, 2.2rem);
}

.contactMe .container button {
  margin: 0 0 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: 3px solid #97e3fa;
}

.contactMe .container .contactLinks a {
  margin: 0 1rem;
}

footer {
  background-color: #2967c5;
  color: #ebebeb;
  color: #929292;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}

footer p {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.btn, .btn-primary, .btn-secondary, .btn-dark, .btn-outline-primary, .btn-outline-secondary, .btn-outline-dark {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  -webkit-transition: -webkit-transform 50ms linear;
  transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
  transition: transform 50ms linear, -webkit-transform 50ms linear;
}

.btn:hover, .btn-primary:hover, .btn-secondary:hover, .btn-dark:hover, .btn-outline-primary:hover, .btn-outline-secondary:hover, .btn-outline-dark:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  background-color: #5d90dd;
  color: #ebebeb;
}

.btn-secondary {
  background-color: #97e3fa;
  color: #141414;
}

.btn-dark {
  background-color: #292929;
  color: #ebebeb;
}

.btn-outline-primary {
  background-color: transparent;
  border: 2px solid #2967c5;
  color: #2967c5;
}

.btn-outline-secondary {
  background-color: transparent;
  border: 2px solid #97e3fa;
  color: #97e3fa;
}

.btn-outline-dark {
  background-color: transparent;
  border: 2px solid #292929;
  color: #292929;
}

.btn-pill {
  border-radius: 100px;
}

.card {
  -webkit-box-shadow: 0 0 2px #222;
          box-shadow: 0 0 2px #222;
  padding: 1.25rem;
  background-color: #f0eefc;
  color: #141414;
  border-radius: 10px;
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: transform 50ms linear;
          transition-duration: transform 50ms linear;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
  top: 10px;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: #2967c5;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: #97e3fa;
}

.menu-wrap .menu > div > div > img {
  border-radius: 50%;
  margin-top: 2rem;
  max-width: 15rem;
  max-height: 15rem;
}

@media (max-width: 900px) {
  .hero {
    height: 300px;
    padding-bottom: 20px;
  }
  .hero-content {
    text-align: center;
  }
  .hero-content img {
    display: none;
  }
  .projects .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutMe .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutMe .container .rightDiv img {
    border-radius: 50%;
  }
  .treehouse .container .grid .treehouse-projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .menu-wrap {
    position: absolute;
  }
  .menu-wrap .menu > div > div > img {
    max-width: 10rem;
    max-height: 10rem;
  }
  .aboutMe .container .rightDiv img {
    max-width: 15rem;
  }
  .treehouse .container .grid .treehouse-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */