@import "config";

//reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
i {
  color: $icon-color;
}
i:hover {
  transform: scale(0.95);
}

//hero
.hero {
  @include set-background($primary-color);
  min-height: 560px;

  .contentContainer {
    max-width: $container-lg;
    margin: 0 auto;
    height: 100%;
    @include flex;
    justify-content: start;
  }
  .textBox {
    max-width: $container-md;
    margin: 0 1rem;
    span {
      color: $secondary-color;
    }
    h1 {
      font-size: clamp(1.5rem, 2.5vw, 4rem);
      line-height: 1.1;
    }
    button {
      padding: 0.8rem 1.5rem;
      font-size: 1.1rem;
      font-weight: 600;
      border: 3px solid $dark-color;
    }
  }
}

//projects

.projects {
  h2 {
    font-size: 4rem;
    font-weight: 200;
  }
  @include flex;
  flex-direction: column;
  .card {
    max-width: $container-lg;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 1rem;
    box-shadow: 2px 2px 4px 0px $dark-color;

    .leftDiv {
      padding: 2rem;
      .overlayContainer {
        position: relative;
        background-color: $secondary-color;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          display: block;
          background: inherit;
          opacity: 0.9;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: scale(2) translateX(-75%) translateY(-75%) rotate(-45deg);
          transition: transform 750ms linear;
        }

        // Bring in main color overlay
        &:hover:after {
          transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
        }

        // Bring in text on hover
        &:hover .overlayText {
          opacity: 1;
          transform: translateY(0);
        }

        .imageBox {
          height: auto;
          transform: translateZ(0);
          display: block;
          transition: transform 750ms linear;
        }


        .overlayText {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          opacity: 0;
          text-align: center;
          z-index: 1;
          color: #1a1a1a;
          transform: translateY(-20%);
          transition: opacity 500ms linear,
            transform 500ms linear;
          transition-delay: 300ms;
          
        }

        .overlayTextBox {
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          padding: 2rem;
          p{
            font-weight: 600;
            font-size: 3rem;
            
          }
        }
       
      }
      
      

      // img {
      //   width: 90%;
      //   margin: 1rem 0;
      //   border-radius: 10px;
      //   transition: $global-transistion;
      //   &:hover {
      //     transform: scale(0.98);
      //   }
      // }
    }
    .rightDiv {
      h3 {
        font-size: clamp(1.5rem, 2.5vw, 2.2rem);
        a {
          font-size: clamp(0.6rem, 2.5vw, 1rem);
        }
      }
      ul {
        list-style: none;
        letter-spacing: 0.2rem;
        font-weight: 600;
        color: darken($primary-color, 10%);
        display: flex;
        flex-wrap: wrap;
        li {
          margin: 0 1rem;
        }
      }
    }
  }
}

//aboutme

.aboutMe {
  @include set-background($dark-color);
  .container {
    max-width: $container-lg;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .leftDiv {
      padding: 0 3rem;
    }
    .rightDiv {
      @include flex;
      img {
        max-width: 20rem;
      }
    }
  }
}

.treehouse {
  .container {
    max-width: $container-lg;
    margin: 0 auto;
    .certificate {
      @include flex;
      flex-direction: column;
      img {
        width: 35%;
      }
      p {
        padding: 1rem;
        text-align: center;
      }
    }
    .treehouse-projects {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .card {
        box-shadow: 1px 1px 2px 0px $dark-color;
        margin: 0.5rem;
        ul {
          list-style: none;
          letter-spacing: 0.2rem;
          font-weight: bold;
          display: flex;
          li {
            margin: 0 1rem;
          }
        }
      }
    }
  }
}

.contactMe {
  @include set-background($dark-color);
  .container {
    max-width: $container-md;
    margin: 0 auto;
    @include flex;
    flex-direction: column;
    h2 {
      font-size: clamp(1.5rem, 2.5vw, 2.2rem);
    }
    button {
      margin: 0 0 1rem;
      padding: 0.8rem 1.5rem;
      font-size: 1.1rem;
      font-weight: 600;
      border: 3px solid $secondary-color;
    }
    .contactLinks {
      a {
        margin: 0 1rem;
      }
    }
  }
}

footer {
  @include set-background($primary-color);
  color: darken($light-text, 35%);
  @include flex;
  flex-direction: column;
  padding: 1rem 0;
  p {
    margin: 0;
  }
}

@import "utilities";
@import "buttons";
@import "card";
@import "menu";
@import "mobile";
